default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

production:
  <<: *default
  database: central_services_pro
  username: 
  password: 

staging:
  <<: *default
  database: central_services_stage
  username: 
  password: 